@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans:400,600,700,800|Raleway:400,600,700,800');
@import "_variables";
@import "_mixins";
@import "_panel";

// /*css*/

// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Comfortaa', cursive;

body{
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
}

ul{
	li{
		display: inline-block;
		list-style: none;
	}
}

.slide{
	background-color: $azulOscuro;
}

// Header
header{
	ul{	
		padding-top: 0.5em;

		li{
			font-size: 1.2em;
			font-weight: 500;
			padding-right: 1em;

			a{
				color:$azulOscuro;
			}
		}
	}

	.header__menu{
		ul{
			margin-left: -2em;
		}
	}
	
	img{
		margin-top: 0.5em;
	}

	.login__menu{
		text-align: right;

		li{
			color:$azulClaro;
			padding-right: 0;

			a{
				color:$azulClaro;
			}

		}
	}
}

.slide{
	padding: 2em 0;

	h1{
		font-family: 'Raleway', sans-serif;
		color:$blanco;
		font-weight: 600;
		font-size: 2.5em;
		margin-bottom: 1em;
		width: 60%;
	}

	.boton{
		margin-left: 2em;
		display: block;
		margin-bottom: 1em;
		width: 47%;
	}

	.mundo{
		margin-left: 5em;
	}
}

.boton{
	background-color: $naranja;
	border-radius: 5px;
	color:$blanco;
	font-family: 'Comfortaa';
	font-size: 1.3em;
	padding: 0.7em 3em;
}

.contenido{
	padding-bottom: 3.5em;

	.frase{
		background-image: url('../img/background-frase.jpg');
		margin-top: 2em;
		padding: 2em 5em;

		p{	
			color:$azulOscuro;
			font-size: 1.2em;
			font-weight: 600;
			width: 70%;
		}

		h4{
			color:$azulClaro;
			font-size: 1.1em;
			font-weight: 800;
			text-decoration: underline;
			text-align: center;
		}
	}

	h3{
		color:$azulOtro;
		font-size: 1.9em;
		font-weight: 800;		
	}

	.freecertificates{
		background-image: url(../img/back-certifica.jpg);
		background-size: cover;
		height: 190px;
		padding-top:1em;
		padding-left: 1em;
		margin-top: 5em;

	}

	.college{
		background-image: url(../img/back-college.jpg);
		background-size: cover;
		height: 190px;
		padding-top:1em;
		padding-left: 1em;
		margin-top: 5em;

	}

	.back-key{
		background-image: url(../img/back-key.jpg);
		background-size: cover;
		height: 190px;
		padding-top:1em;
		padding-left: 1em;
		margin-top: 5em;
	}
}

.socialBar{
	background-color: $azulBarra;
	color:$blanco;

	.socialBar__menu--social{
		ul{
			margin-bottom: 0;
		
			li{ 
				margin-right: 1em;
				margin-top: 0.5em;
							
				a{
					color:$blanco;
					font-size: 2em;
				}

				&:first-child{
					margin-top: 0;
					margin-right: 0;
					width: 20%;

					img{
						padding-bottom: 0.5em;
						width: 70%;
					}
				}

				&:nth-child(2){
					border-left: 5px solid #fff;
					padding-left: 2em;
				}
			}
		}
	}

	.socialBar__menu{
		ul{
			padding-top: 1em;
			text-align: right;
			li{
				margin-right: 1em;
				a{
					color:$blanco;
					font-size: 1.3em;
				}
			}
		}
	}
}

footer{
	background-color: $cafeOscuro;
	color:$blanco;
	font-size: 0.85em;
	padding: 2em 0;

	span{
		color:#FFAD64;
	}

	.footer__menu{
		ul{
			margin-bottom: 0;
			li{
				border-right: 1px solid $blanco;
				padding:0 10px;

				a{
					color:$blanco;
					font-size: 1.4em;
				}

				&:last-child{
					border:none;
				}
			}
		}
	}

	.logofooter{
		position: absolute;
	    right: 5%;
	    width: 100px;
	    top:2%;
	}

	.socialBar__menu--social{
		ul{
			margin-bottom: 0;
		
			li{ 
				margin-right: 1em;
				margin-top: 0.5em;
							
				a{
					color:$blanco;
					font-size: 2em;
				}

				&:first-child{
					margin-top: 0;
					margin-right: 0;
					width: 20%;

					img{
						padding-bottom: 0.5em;
						width: 70%;
					}
				}

				&:nth-child(2){
					border-left: 5px solid #fff;
					padding-left: 2em;
				}
			}
		}
	}

	.socialBar__menu{
		ul{
			padding-top: 1em;
			text-align: right;
			li{
				margin-right: 1em;
				a{
					color:$blanco;
					font-size: 1.3em;
				}
			}
		}
	}
}

/*******About********/

.title__bar{
	border-top:4px solid #499DCD;
	padding: 1em 0;

	h1{
		color:$naranja;
		font-size: 2.5em;
		font-weight: 600;
	}

	h3{
		font-size: 1.2em;
		text-align: left;
		padding: 1.5em 0;
		a, a:visited{
			color:$azulClaro;

			span{
				font-weight: 700;
			}
		}
	}
}

.contenido__internas{
	background-color: #F5F5F5;
	padding: 1em 0;

	h2{
		color:$azulClaro;
		font-size: 1.5em;
		font-style: italic;
		margin-left: 35%;
		width: 30%;
	}

	img{
		margin-left: 25%;
		margin-bottom: 1em;
		width: 50%;
	}

	p{
		padding: 0.5em 0;
	}

	blockquote{
		font-style: italic;
		text-align: center;
	}

	h4{
		font-size: 1em;
		font-style: italic;
	}

	a{
		display: block;
		font-size: 0.9em;
		font-style: italic;
		text-decoration: underline;
	}

	.about__item{
		background-color: $blanco;
		border:1px solid $cafeOscuro;
		padding: 10px;
		margin-top: 2em;

		h3{
			font-size: 1.2em;
			font-weight: 600;
		}

		p{
			font-size: 1em;
			padding: 5px 0;
			margin: 0;
			margin-top: -10px;
		}
	}
}

/*********BLOG*********/

.blog__item{
	background-color: $blanco;
	padding: 1.5em 2em;
	
	a{
		display: block;
		color:$azulClaro;
		font-size: 1.1em;
		font-style: normal;
		margin-bottom: 10px;

		i{
			color:$cafeOscuro;
			font-size: 1.5em;
			margin-right: 10px;
		}
	}

	.tweets{
		margin-top: 2em;
	}
}

.blog__item--left{
	padding: 1.5em 1em;
}

.blog__item--right{
	ul{
		margin-left: -2.3em;

		li{
			color:#B7B7B7;
			display: inline-block;
			font-size: 0.9em;
			margin-right: 1em;
			strong{
				color:#434343;
				margin-left: 5px;
			}

			i{
				font-size: 1.2em;
				color:$cafeOscuro;
				margin-right: 5px;
			}

			a{
				display: inline-block;
				font-size: 1em;
				margin-left: 5px;
				text-decoration: none;
			}
		}
	}

	img{
		margin-left: 0%;
		width: 100%;
	}

	.share{
		li{
			i{
				color:$azulClaro;
				font-size: 2em;
			}
		}
	}

	.post{
		blockquote{
			margin-left: 2em;
			font-size: 0.9em;
			font-style: normal;
			text-align: left;
			margin-top: -20px;
		}
	}
}

// MEDIA QUERIES

@media screen and (max-width: 768px){
	
	header{
		padding: 5px 0;
		img {
	   		margin-left: 7em;
	   		width: 40%;
	   	}
	}

	.hamburger{
		background-color: #eee;
		border-radius: 5px;
		text-align: center;
		padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-top: 4px;

		i{	
			color: #898887;
			font-size: 1.5em;
		}
	}


	.slide{
		overflow: hidden;
	}

	.slide h1 {
    	width: 75%;
	}

	.slide .boton {
    	width: 60%;
	}

	.slide .mundo {
    	margin-left: -7em;
	}

	.contenido .frase {
        padding: 2em 3em;
	}

	.contenido .frase p {
    	color: #173140;
    	font-size: 1em;
       	width: 100%;
	}

	.contenido h3 {
	    color: #235D7C;
	    font-size: 1.5em;
	    font-weight: 800;
	}

	.contenido .freecertificates, .contenido .college, .contenido .back-key {
        height: 140px;
	}

	.socialBar .socialBar__menu--social ul li:nth-child(2) {
    	padding-left: 1em;
	}

	.socialBar .socialBar__menu--social ul li {
    	margin-right: 0.5em;
	}

	.socialBar .socialBar__menu ul {
    	margin-left: -3em;
	}

	.contenido__internas{
		h2{
			margin-left: 27%;
			width: 46%;
		}
	}

	.post__title{
		font-size: 1.5em;
	}

	.blog__item--right ul li {
        font-size: 8px;
    }

    .blog__item a {
        font-size: 0.9em;
	}


}

@media screen and (max-width: 480px){
	header{
		padding: 5px 0;
		img {
	   		margin-left: 1em;
	   		width: 60%;
	   	}
	}

	.hamburger{
		background-color: #eee;
		border-radius: 5px;
		text-align: center;
		padding-left: 10px;
	    padding-right: 30px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-top: 4px;

		i{	
			color: #898887;
			font-size: 1.5em;
		}
	}

	.slide{
		padding-bottom: 1em;
		overflow: hidden;

		h1 {
		    z-index: 99999;
		    font-size: 2em;
		    width: 100%;
		    position: relative;
		}

		img{
			width: 250px;
		}
	}

	.slide .boton {
	    text-align: center;
	    width: 70%;
	    position: absolute;
    	z-index: 999;
	}
	
	.boton {
	    font-size: 1.2em;
	    padding: 0.5em 2em;
	}

	.slide .mundo {
    	margin-left: -7em;
	}

	.contenido .frase {
	 	background-size: cover;
	}

	.contenido{
		.frase{
			padding: 2em;
			margin-right: 1em;
				p {
					font-size: 1em;
					width: 100%;
				}

				h4{
					font-size: 0.9em;
				}
			
		}
	}

	.contenido .freecertificates, .contenido .college, .contenido .back-key{
	    background-size: cover;
	    height: 148px;
	}
	
	.contenido h3{
		font-size: 1.6em;
	}

	.socialBar .socialBar__menu ul {
    	text-align: center;
	}

	footer{
		p{
			font-size: 0.9em;
		}

		.logofooter{
			top:-20%;
		}

		.footer__menu {
			margin-top: 3em;
			ul {
				li a {
		    		color: #ffffff;
		    		font-size: 1.2em;
	    		}
    		}
    	}
	}

	.socialBar .socialBar__menu ul{
		margin-left: -2em;
	}

	.socialBar .socialBar__menu ul li {
    	margin-right: 0.5em;
	}

	.socialBar .socialBar__menu--social ul li:nth-child(2) {
    	padding-left: 1em;
	}

	.socialBar .socialBar__menu--social ul {
	    margin-left: -2em;
	}

	footer .footer__menu ul {
        margin-left: -3em;
	}

	.title__bar{ 
		padding: 0em;
		h1 {
		    font-size: 1.5em;
		}
	}

	.contenido__internas {
		h2 {
		    font-size: 1.2em;
		    margin-left: 0%;
		    width: 100%;
		}
		p {
		    padding: 0.5em 1em;
		}

		img {
		    width: 100%;
		}
	}

	.title__bar h3 {
    	font-size: 0.9em;
    }

    .blog__item {
	    padding:0.5em;

	    .post__title {
    		font-size: 1.3em;
		}

	    .post{
	    	p {
			    padding: 0.5em;
			}
	    }
	}

	.blog__item--right{
		margin-top: 1.5em;
	}


}


@media screen and (max-width: 320px){
	.contenido .freecertificates, .contenido .college, .contenido .back-key{
	    height: 149px;
	}

	.socialBar .socialBar__menu--social ul li:nth-child(2) {
    	padding-left: 1em;
	}

	.socialBar .socialBar__menu ul {
    	margin-left: -2em;
	}

	
}